[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-summernote = "*"
django-crispy-forms = "*"
django-heroku = "*"
psycopg2-binary = "*"
django-environ = "*"
django-gunicorn = "*"
whitenoise = "*"
django-mailgun = "*"
django-anymail = "*"
fontawesome-free = "*"

[dev-packages]

[requires]
python_version = "3.8"
