{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>Spruce and Polish Editing</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
        <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
        <meta name="author" content="Couragyn Chretien">
        <link rel="shortcut icon" type="image/png" href="/media/logo.png"/>


    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-fixed-top fixed-top navbar-expand-lg navbar-light bg-light shadow mb-3" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}"><img  class="img-fluid" src="../media/logo_1.png" alt="Spruce & Polish Editing"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown text-black">
                            <a class="nav-link text-black font-weight-bold " href="{% url 'services' %}">Services</a>
<!--                             <ul class="dropdown-menu sub-menu">
                                <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
                                <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
                            </ul> -->
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'editors' %}">Our Editors</a>
                        </li>                        
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'quote' %}">Get a Quote</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'contact' %}">Contact Us</a>
                        </li>      
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'testimonials' %}">Testimonials</a>
                        </li>                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'blog' %}">The Bloghouse</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Copyright &copy; Spruce &amp; Polish Editing</p>
        </footer>
    </body>
</html>
