{% extends "base.html" %} 
{% block content %}

    <div class="hero-image" id="blog_hero">
        <div class="hero-text">
            <h1>The Bloghouse</h1>
            <h4>Another blog for the fire</h4>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-12 mt-3 float-left">
                {% for post in post_list %}
                <div class="row">
                    <div class="card mb-5">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                            <p class="card-text">{{post.content|striptags|slice:":400" }}...</p>
                            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
<!--         <div class="col-md-4 float-right float">
            <div class="card my-4">
                <h5 class="card-header">Title here if you want</h5>
                <div class="card-body">
                    <p class="card-text"> Descriptor for the blog. <br><br>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed lorem non nibh condimentum tristique ultricies et augue. Vivamus a congue orci. Sed lorem sapien, porttitor vel ultrices nec, vehicula id sem. Aenean pretium imperdiet cursus. In hac habitasse platea dictumst. Proin efficitur, leo eget volutpat tincidunt, purus neque malesuada est, eget dignissim libero mauris eu lorem. Aliquam vel erat vitae arcu dictum dapibus.</p>
                </div>
            </div>
        </div>
 -->
    </div>
    {% if is_paginated %}
        <nav aria-label="Page navigation conatiner"></nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
{%endblock%}
