{% extends "base.html" %} 
{% block content %}

<script>
	var head = document.getElementsByTagName("head")[0],
	    cssLink = document.createElement("link");
	cssLink.href = "/static/css/upload.css";
	cssLink.rel="stylesheet";
	cssLink.type="text/css";
	head.appendChild(cssLink);

	$(function(){
	    $(document).on('click', '.btn-add', function(e)
	    {
	        e.preventDefault();

	        var controlForm = $('.controls:first'),
	            currentEntry = $(this).parents('.entry:first'),
	            newEntry = $(currentEntry.clone()).appendTo(controlForm);

	        newEntry.find('input').val('');
	        controlForm.find('.entry:not(:last) .btn-add')
	            .removeClass('btn-add').addClass('btn-remove')
	            .removeClass('btn-success').addClass('btn-danger')
	            .html('<span class="fas fa-minus"></span>');
	    }).on('click', '.btn-remove', function(e)
	    {
	      $(this).parents('.entry:first').remove();

			e.preventDefault();
			return false;
		});
	});

</script>

    <div class="container">
    	<p>test</p>


        {% if request.session.sendmessage %}
			<i>{{ request.session.sendmessage }}</i>
		{% endif %}
		 
		<form class="form" action="../send-contact/" method="POST" enctype="multipart/form-data">{% csrf_token %}
			<div class="form-group">
				<div class="form-group">
					<label for="nameInput" class="required">Name:</label>
	    			<input type="text" name="nameInput" class="form-control" id="nameInput" placeholder="Enter name" required>
	    		</div>
				<div class="form-group">
					<label for="emailInput" class="required">Email:</label>
	    			<input type="email" name="emailInput" class="form-control" id="emailInput" placeholder="Enter email" required>
	    		</div>
				<div class="form-group">
					<label for="phoneInput">Phone Number:</label>
	    			<input type="text" name="phoneInput" class="form-control" id="phoneInput" placeholder="Enter phone number">
	    		</div>
				<div class="form-group">
					<label for="messageInput" class="required">Message: </label>
					<textarea class="form-control" name="messageInput" id="messageInput" rows="3" placeholder="Message Details" required></textarea>
				</div>
				<div class="form-group">



				<label class="control-label" for="attached">Upload Files: </label>
				<div class="controls">
					<div class="entry input-group">
						<input class="btn upload-textarea" name="attached[]" type="file">
						<span class="input-group-btn">
							<button class="btn btn-success btn-add" type="button">
								<i class="fas fa-plus"></i>
							</button>
						</span>
					</div>
				</div>


				</div>
				<button class="btn btn-primary" type="submit">Send</button>
			</div>
		</form>
	</div>
{%endblock%}
