{% extends "base.html" %} 
{% block content %}

    <div class="hero-image" id="editors_hero">
        <div class="hero-text">
            <h1>Our Editors</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3 float-left">
                <div class="mb-5">           
                    <div class="card-body">
                        <h3 class="card-title">Rachel Blackie</h2>
                        <div class="col-md-6 mt-3 float-left">
	                        <p class="card-text">
                                I’m originally from Halifax, Nova Scotia and have moved around and traveled a lot in my adult life. I’ve lived in Seoul, Korea; Victoria, British Columbia; and am currently based in Valencia, Spain. I’ve been an ESL instructor since 2014 and began freelance proofreading and editing in 2020. Outside of work, you’ll usually find me reading, walking my dogs, or trying to learn a new language. 
	                        	<br>
								<ul>
                                    <li>BA in English and History from Dalhousie University (2014)</li>
                                    <li>Advanced TESOL Certificate (2016)</li>
                                    <li>Proofreading & Copyediting CPD-Accredited Course (2020)</li>
                                    <li>ESL Teacher since 2014, with a wide variety of experience:</li>
                                    <ul>
                                        <li>English-language kindergarten teacher</li>
                                        <li>English-language help centre tutor at a community college</li>
                                        <li>ESL Teacher at language schools for teens and adults</li>
                                        <li>Academic Coordinator at a language school</li>
                                        <li>Online one-on-one ESL teacher</li>
                                    </ul>
                                </ul>   
			            </div>
						<div class="col-md-6 mt-3 float-right">
			            	<img class="img-fluid" src="../media/Rachel.jpg" alt="Rachel">
			            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3 float-left">
                <div class="mb-5">
                    <div class="card-body">
                        <h3 class="card-title">Daphne Nugent</h2>
                        <div class="col-md-6 mt-3 float-left">
	                        <p class="card-text">
	                        	I am half Chinese and half Canadian, born and raised in Hong Kong where I lived until I was 20 years old. I have also lived in Beijing where I studied Mandarin for 2 years. This led me to study Linguistics at the University of Victoria on Vancouver Island, British Columbia, where I still reside with my husband and our baby girl. If I’m not busy working or playing with my child, then I’ll most likely be birding, baking bread, swimming in the ocean, or reading a nice book by the fire. 
	                        	<br>
                                <ul>
                                    <li>BA in Applied Linguistics with a Minor in Pacific and Asian Studies from University of Victoria</li>
                                    <li>TESL Certificate from Chinese University in Hong Kong</li>
                                    <li>Keys to Effective Editing Certificate from Southeast Regional College</li>
                                    <li>Teaching experience since 2007, with a focus on ESL:</li>
                                    <ul>
                                        <li>Mandarin and English tutor</li>
                                        <li>Kindergarten teacher</li>
                                        <li>Drama teacher</li>
                                        <li>ESL Teacher at language centres for teens and adults</li>
                                        <li>IELTS Exam Invigilator</li>
                                    </ul>
                                </ul>   
                                </ul>
			            </div>
						<div class="col-md-6 mt-3 float-right">
			            	<img class="img-fluid" src="../media/Daphne.jpg" alt="Daphne">
			            </div>                
					</div>
                </div>
            </div>
        </div>
    </div>

{%endblock%}
