{% extends "base.html" %} 
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3 float-left">
                <div class="mb-5">
                    <div class="card-body">
                        <h2 class="card-title">"Rachel" Blackie</h2>
                        <div class="col-md-6 mt-3 float-left">
	                        <p class="card-text">
	                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed lorem non nibh condimentum tristique ultricies et augue. Vivamus a congue orci. Sed lorem sapien, porttitor vel ultrices nec, vehicula id sem. Aenean pretium imperdiet cursus. In hac habitasse platea dictumst. Proin efficitur, leo eget volutpat tincidunt, purus neque malesuada est, eget dignissim libero mauris eu lorem. Aliquam vel erat vitae arcu dictum dapibus.
	                        	<br><br>
								Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque scelerisque urna nibh, vehicula laoreet nibh hendrerit a. Phasellus pharetra accumsan tincidunt. Praesent at tincidunt lacus, sed iaculis quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc posuere, felis non gravida ultrices, turpis leo rutrum ipsum, eget dictum erat dui sed felis. Etiam imperdiet velit libero, eget finibus purus finibus quis.
			            </div>
						<div class="col-md-6 mt-3 float-right">
			            	<img class="img-fluid" src="../media/rachel.png" alt="office">
			            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3 float-left">
                <div class="mb-5">
                    <div class="card-body">
                        <h2 class="card-title">Daphne "Ted" Nugent</h2>
                        <div class="col-md-6 mt-3 float-left">
	                        <p class="card-text">
	                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed lorem non nibh condimentum tristique ultricies et augue. Vivamus a congue orci. Sed lorem sapien, porttitor vel ultrices nec, vehicula id sem. Aenean pretium imperdiet cursus. In hac habitasse platea dictumst. Proin efficitur, leo eget volutpat tincidunt, purus neque malesuada est, eget dignissim libero mauris eu lorem. Aliquam vel erat vitae arcu dictum dapibus.
	                        	<br><br>
								Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque scelerisque urna nibh, vehicula laoreet nibh hendrerit a. Phasellus pharetra accumsan tincidunt. Praesent at tincidunt lacus, sed iaculis quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc posuere, felis non gravida ultrices, turpis leo rutrum ipsum, eget dictum erat dui sed felis. Etiam imperdiet velit libero, eget finibus purus finibus quis.
			            </div>
						<div class="col-md-6 mt-3 float-right">
			            	<img class="img-fluid" src="../media/daphne.png" alt="office">
			            </div>                
					</div>
                </div>
            </div>
        </div>
    </div>

{%endblock%}
