{% extends "base.html" %} 
{% block content %}

    <div class="hero-image" id="editors_hero">
        <div class="hero-text">
            <h1>Our Editors</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3 float-left">
                <div class="mb-5">           
                    <div class="card-body">
                        <h3 class="card-title">Rachel Blackie</h2>
                        <div class="col-md-6 mt-3 float-left">
	                        <p class="card-text">
                                Rachel is a voracious reader of both fiction and nonfiction. Her favourite fiction genres are contemporary, sci-fi, and dystopia; her nonfiction choices are usually linguistics, psychology, or history. Rachel is originally from Halifax, Nova Scotia, and in the past decade has lived in Bolivia, the UK, and South Korea. She is currently based in Valencia, Spain with her husband and two dogs.
	                        	<br>
								<ul>
                                    <li>BA in English and History from Dalhousie University (2014)</li>
                                    <li>Advanced TESOL Certificate (2016)</li>
                                    <li>Proofreading & Copyediting CPD-Accredited Course (2020)</li>
                                    <li>ESL Teacher since 2014, with a wide variety of experience:</li>
                                    <ul>
                                        <li>English-language kindergarten teacher</li>
                                        <li>English-language help centre tutor at a community college</li>
                                        <li>ESL Teacher at language schools for teens and adults</li>
                                        <li>Academic Coordinator at a language school</li>
                                        <li>Online one-on-one ESL teacher</li>
                                    </ul>
                                </ul>   
			            </div>
						<div class="col-md-6 mt-3 float-right">
			            	<img class="img-fluid" src="../media/Rachel.jpg" alt="Rachel">
			            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3 float-left">
                <div class="mb-5">
                    <div class="card-body">
                        <h3 class="card-title">Daphne Nugent</h2>
                        <div class="col-md-6 mt-3 float-left">
	                        <p class="card-text">
	                        	When Daphne is not identifying mistakes, she is identifying birds. She is an avid reader of ecological and environmental reviews, graphic novels, suspense and crime fiction, nature guides,  as well as kids books which she reads every night to her baby girl. She was born and raised in Hong Kong, and can fluently speak both Cantonese and Mandarin. She has also lived in London and Beijing, and travelled all around Europe and Asia. Presently, Daphne is living in Sooke, BC in a minimalist lifestyle, with the goal of being completely off-grid and self-sustaining.
	                        	<br>
                                <ul>
                                    <li>BA in Applied Linguistics with a Minor in Pacific and Asian Studies from University of Victoria</li>
                                    <li>TESL Certificate from Chinese University in Hong Kong</li>
                                    <li>Keys to Effective Editing Certificate from Southeast Regional College</li>
                                    <li>Teaching experience since 2007, with a focus on ESL:</li>
                                    <ul>
                                        <li>Mandarin and English tutor</li>
                                        <li>Kindergarten teacher</li>
                                        <li>Drama teacher</li>
                                        <li>ESL Teacher at language centres for teens and adults</li>
                                        <li>IELTS Exam Invigilator</li>
                                    </ul>
                                </ul>   
                                </ul>
			            </div>
						<div class="col-md-6 mt-3 float-right">
			            	<img class="img-fluid" src="../media/Daphne.jpg" alt="Daphne">
			            </div>                
					</div>
                </div>
            </div>
        </div>
    </div>

{%endblock%}
