{% extends "base.html" %} 
{% block content %}
	
	<div class="hero-image" id="index_hero">
		<div class="hero-text">
			<h1 class="splash_logo"><img class="img-fluid" src="../media/logo_2.png" alt="Spruce & Polish Editing"></h1>
		</div>
	</div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3 float-left">
                <div class="mb-5">
                    <div class="card-body">
                        <div class="col-md-12 mt-3">
	                        <p class="card-text">
	                        	We are two editors, ESL instructors, and self-proclaimed language nerds.  We started working together in 2018 as ESL teachers at a language centre in Victoria, British Columbia. Since then, we have both embarked on new adventures, but we have always remained in touch - keeping each other updated on our personal lives, but mostly discussing all things linguistics. 
	                        </p>
	                        <p class="card-text">
								Grammar! Syntax! Word formation! We are fascinated with the intricacies of the English language that most people find boring, and this is why we can help you make your writing great. From our experience as colleagues, we have learned how to effectively work together to produce the best outcome. As your editors, we plan to work together to help you Spruce and Polish your piece of work. We have a hands-on approach that will include constant updates and communications to help you best express what you are trying to say. We know your writing is important to you, and it’s important to us, too. 			            
	                        </p>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
{%endblock%}
