{% extends "base.html" %} 
{% block content %}
<div class="hero-image" id="index_hero">
	<div class="hero-text">
		<h1>Spruce & Polish Editing</h1>
	</div>
</div>

    <div class="container">
		<div class="row">
            <div class="col-md-12 float-left">
                <div class="mb-5">
                    <div class="card-body">
                        <div class="col-md-12 mt-3">
	                        <p class="card-text">
	                        	Have you completed your manuscript? Finished your essay? Now it’s our turn! We will help you Spruce and Polish your writing. We will un-dangle your modifiers, un-split your infinitives, spice up your syntax, unsplice your commas, fact check your allusions, revamp your word choice, and even dot your i’s and cross your t’s.  Our enthusiasm and knowledge for the English language will ensure that nothing will go amiss, astray, or awry. We were both previously ESL teachers, so we are incredibly savvy about the many intricacies of the English language that make other people squirm. While editing your work, we promise to not only give you our critical review, but also a list of suggestions to bring your work closer to perfection.			            
	                        </p>
	                        <p class="card-text">
	                        	We know your work means a lot to you. It means a lot to us too.			            
	                        </p>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
{%endblock%}
