{% extends "base.html" %} 
{% block content %}
{% load crispy_forms_tags %}

  <div class="hero-image" id="quote_hero">
      <div class="hero-text">
          <h1>Get A Quote</h1>
      </div>
  </div>

  <div class="container">
    <div class="col-md-12 mt-3">
      <div class="row">
        <div class="col-md-9 float-right">
          {% if error_message %}
            <div class="alert alert-primary" role="alert">
              {{error_message}}
            </div>
          {% endif %}

          {% if quote_form %}
            <form method="POST" action ="" enctype="multipart/form-data">
              {% csrf_token %}
              {{quote_form|crispy}}
              <button type="submit" class="btn btn-primary">Send Email</button>
            </form>
          {% endif %}

        </div>

        <div class="col-md-3 float-right pt-5">
          <h5 class="card-header">Pricing</h5>
          <div class="card-body">
            <p>
              Approximately 3&#162; per word. Price may vary depending on your individual project.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}
