{% extends "base.html" %} 
{% block content %}

    <div class="hero-image" id="services_hero">
        <div class="hero-text">
            <h1>Services</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3 float-left">
                <div class="mb-5">
                    <div class="card-body">
                        <div class="col-md-6 mt-3 float-left">
	                        <p class="card-text">
	                        	If your document doesn’t quite fit any of the categories listed, feel free to contact us anyway. We’ll be happy to take a look.
	                        	<br>
                                <ul>
                                    <li>Academic Papers</li>
                                    <li>Applications & Grants</li>
                                    <li>Cover letters & Resumes</li>
                                    <li>Websites & Blogs</li>
                                    <li>Newspaper & Magazine Articles</li>
                                    <li>Short- & Long-form Fiction</li>
                                    <li>Short- & Long-form Creative Nonfiction</li>
                                    <li>Beta Reading</li>
                                    <li>Children's Books</li>
                                </ul>			            
                            </div>
						<div class="col-md-6 mt-3 float-right">
			            	<img class="img-fluid" src="../media/office.jpg" alt="office">
			            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12 mt-3 float-left">
                <div class="mb-5">
                    <div class="card-body">
                        <h2 class="card-title">Line Editing</h2>
                        <div class="col-md-6 mt-3 float-right">
	                        <p class="card-text">
	                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed lorem non nibh condimentum tristique ultricies et augue. Vivamus a congue orci. Sed lorem sapien, porttitor vel ultrices nec, vehicula id sem. Aenean pretium imperdiet cursus. In hac habitasse platea dictumst. Proin efficitur, leo eget volutpat tincidunt, purus neque malesuada est, eget dignissim libero mauris eu lorem. Aliquam vel erat vitae arcu dictum dapibus.
	                        	<br><br>
								Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque scelerisque urna nibh, vehicula laoreet nibh hendrerit a. Phasellus pharetra accumsan tincidunt. Praesent at tincidunt lacus, sed iaculis quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc posuere, felis non gravida ultrices, turpis leo rutrum ipsum, eget dictum erat dui sed felis. Etiam imperdiet velit libero, eget finibus purus finibus quis.
			            </div>
						<div class="col-md-6 mt-3 float-left">
			            	<img class="img-fluid" src="../media/office.jpg" alt="office">
			            </div>                
					</div>
                </div>
            </div>
            <div class="col-md-12 mt-3 float-left">
                <div class="mb-5">
                    <div class="card-body">
                        <h2 class="card-title">Developmental Editing</h2>
                        <div class="col-md-6 mt-3 float-left">
	                        <p class="card-text">
	                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed lorem non nibh condimentum tristique ultricies et augue. Vivamus a congue orci. Sed lorem sapien, porttitor vel ultrices nec, vehicula id sem. Aenean pretium imperdiet cursus. In hac habitasse platea dictumst. Proin efficitur, leo eget volutpat tincidunt, purus neque malesuada est, eget dignissim libero mauris eu lorem. Aliquam vel erat vitae arcu dictum dapibus.
	                        	<br><br>
								Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque scelerisque urna nibh, vehicula laoreet nibh hendrerit a. Phasellus pharetra accumsan tincidunt. Praesent at tincidunt lacus, sed iaculis quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc posuere, felis non gravida ultrices, turpis leo rutrum ipsum, eget dictum erat dui sed felis. Etiam imperdiet velit libero, eget finibus purus finibus quis.
			            </div>
						<div class="col-md-6 mt-3 float-right">
			            	<img class="img-fluid" src="../media/office.jpg" alt="office">
			            </div>                 
					</div>
                </div>
            </div>
            <div class="col-md-12 mt-3 float-left">
                <div class="mb-5">
                    <div class="card-body">
                        <h2 class="card-title">Another Thing</h2>
                        <div class="col-md-6 mt-3 float-right">
	                        <p class="card-text">
	                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed lorem non nibh condimentum tristique ultricies et augue. Vivamus a congue orci. Sed lorem sapien, porttitor vel ultrices nec, vehicula id sem. Aenean pretium imperdiet cursus. In hac habitasse platea dictumst. Proin efficitur, leo eget volutpat tincidunt, purus neque malesuada est, eget dignissim libero mauris eu lorem. Aliquam vel erat vitae arcu dictum dapibus.
	                        	<br><br>
								Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque scelerisque urna nibh, vehicula laoreet nibh hendrerit a. Phasellus pharetra accumsan tincidunt. Praesent at tincidunt lacus, sed iaculis quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc posuere, felis non gravida ultrices, turpis leo rutrum ipsum, eget dictum erat dui sed felis. Etiam imperdiet velit libero, eget finibus purus finibus quis.
			            </div>
						<div class="col-md-6 mt-3 float-left">
			            	<img class="img-fluid" src="../media/office.jpg" alt="office">
			            </div>                     
					</div>
                </div>
            </div>
        </div> -->
    </div>

{%endblock%}
