{% extends "base.html" %} 
{% block content %}

    <div class="hero-image" id="testimonials_hero">
        <div class="hero-text">
            <h1>Testimonials</h1>
        </div>
    </div>

    <div class="container">
    	<div class="col-md-12 mt-3">
			<div class="row">
	            <div class="card mb-3">
				  <div class="card-header">
				    Romance Novel
				  </div>
				  <div class="card-body">
				    	<blockquote class="blockquote mb-0">
				      		<p>"The Spruce and Polish team sure know their stuff! Daphne and Rachel beta read my women's fiction manuscript and came back with some incredible feedback.  They have a keen eye for story and readability and are an awesome team to propel a story forward.”</p>
				    		<footer class="blockquote-footer">Luke, <cite title="Source Title">March 2021</cite></footer>
						</blockquote>
					</div>
	            </div>
	        </div>
			<div class="row">
	            <div class="card mb-3">
				  <div class="card-header">
				    Online course
				  </div>
				  <div class="card-body">
				    	<blockquote class="blockquote mb-0">
				      		<p>"Rachel and Daphne recently completed proofreading educational materials for me. They completed the work ahead of the deadline, with thoughtful and astute feedback. I'd be willing to hire them again for any proofreading needed.”</p>
				    		<footer class="blockquote-footer">Paulette, <cite title="Source Title">February 2021</cite></footer>
						</blockquote>
					</div>
	            </div>
	        </div>
    		<div class="row">
	            <div class="card mb-3">
				  <div class="card-header">
				    Children's Story
				  </div>
				  <div class="card-body">
				    	<blockquote class="blockquote mb-0">
				      		<p>"I loved getting feedback from Daphne and Rachel. It was both positive and constructive. Their views are ones I’m going to take with me into all of my future projects.”</p>
				    		<footer class="blockquote-footer">Matt, <cite title="Source Title">February 2021</cite></footer>
						</blockquote>
					</div>
	            </div>
	        </div>
			<div class="row">
	            <div class="card mb-3">
				  <div class="card-header">
				    Novel
				  </div>
				  <div class="card-body">
				    	<blockquote class="blockquote mb-0">
				      		<p>"Daphne and Rachel beta read my manuscript. Throughout the entire process, both were professional, personable, and all around great to interact with. Whenever I had a question, I was answered promptly and in courteous fashion. From start to finish, they took care of my book as if it were their own and tried to make the story the best it could be.</p>
							<p>The service provided by Daphne and Rachel was leaps and bounds above what I could’ve expected. After they finished with the beta read, I was provided with a thorough list of strengths and weaknesses they had noticed with the plot and character development, suggested changes, and various prose, spelling, and grammar areas that were lacking. The sheer detail of their review was spectacular. I definitely feel like my story has benefited greatly with this dynamic duo and if you are actively searching for an editor or beta reader, look no further!”</p>
				    		<footer class="blockquote-footer">Tomas, <cite title="Source Title">January 2021</cite></footer>
						</blockquote>
					</div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="card mb-3">
				  <div class="card-header">
				    University Essay
				  </div>
				  <div class="card-body">
				    	<blockquote class="blockquote mb-0">
				      		<p>“I had to get a piece urgently proofread. Within a short time, I received what I needed. I didn't have to edit the write-up further. I'd highly recommend their service since they provided a great one.”</p>
				    		<footer class="blockquote-footer">Mashaekh, <cite title="Source Title">December 2020</cite></footer>
						</blockquote>
					</div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="card mb-3">
				  <div class="card-header">
				    Personal Blog
				  </div>
				  <div class="card-body">
				    	<blockquote class="blockquote mb-0">
				      		<p>“Great! They met the deadline and carried out thorough work. Thanks a lot!”</p>
				    		<footer class="blockquote-footer">Albert, <cite title="Source Title">November 2020</cite></footer>
						</blockquote>
					</div>
	            </div>
	        </div>
	    </div>
    </div>

{%endblock%}
