{% extends "base.html" %} 
{% block content %}
    <div class="container">
        <div class="row">
            <div class="card mb-3">
			  <div class="card-header">
			    Author of <i>Everybody poops</i>
			  </div>
			  <div class="card-body">
			    	<blockquote class="blockquote mb-0">
			      		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget vulputate neque, ut accumsan lorem. Suspendisse porta nisl non commodo mattis. </p>
			    		<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
					</blockquote>
				</div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3">
			  <div class="card-header">
			    Author of <i>Everybody poops</i>
			  </div>
			  <div class="card-body">
			    	<blockquote class="blockquote mb-0">
			      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta purus eget sapien cursus efficitur. Nulla sem tellus, commodo ut tellus viverra, efficitur finibus sapien. Sed at mauris non enim rhoncus venenatis. Suspendisse eget tincidunt augue. Suspendisse volutpat tortor et ligula posuere, id scelerisque urna accumsan. Vestibulum nunc diam, ultricies sed orci sed, ullamcorper iaculis sapien. Nullam lacinia nisl eu aliquet tincidunt</p>
			    		<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
					</blockquote>
				</div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3">
			  <div class="card-header">
			    Author of <i>Everybody poops</i>
			  </div>
			  <div class="card-body">
			    	<blockquote class="blockquote mb-0">
			      		<p>Integer a hendrerit urna, a gravida urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vel lacus vitae tellus dapibus tempor et sagittis lectus. Fusce sit amet augue in eros volutpat hendrerit. Mauris egestas lacus vitae nisl semper facilisis. Sed condimentum lacus nec interdum dignissim. Nunc ut quam quis quam laoreet imperdiet. Nunc sed massa scelerisque, tempus tellus et, fringilla dolor.</p>
			    		<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
					</blockquote>
				</div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3">
			  <div class="card-header">
			    Author of <i>Everybody poops</i>
			  </div>
			  <div class="card-body">
			    	<blockquote class="blockquote mb-0">
			      		<p>Pellentesque id ligula a nunc blandit egestas et at odio. Nulla at elementum sem. Mauris tincidunt vel orci eget aliquam. Curabitur id lacus libero. Maecenas semper turpis tempus mi congue, vel faucibus odio posuere. Nulla facilisi. Aliquam porttitor enim facilisis tellus vestibulum.</p>
			    		<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
					</blockquote>
				</div>
            </div>
        </div>
    </div>

{%endblock%}
