{% extends "base.html" %} 
{% block content %}

    <div class="hero-image" id="testimonials_hero">
        <div class="hero-text">
            <h1>Testimonials</h1>
        </div>
    </div>

    <div class="container">
    	<div class="col-md-12 mt-3">
    		<div class="row">
	            <div class="card mb-3">
				  <div class="card-header">
				    Children's Story
				  </div>
				  <div class="card-body">
				    	<blockquote class="blockquote mb-0">
				      		<p>"I loved getting feedback from Daphne and Rachel. It was both positive and constructive. Their views are ones I’m going to take with me into all of my future projects.”</p>
				    		<footer class="blockquote-footer">Matt, <cite title="Source Title">February 2021</cite></footer>
						</blockquote>
					</div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="card mb-3">
				  <div class="card-header">
				    University Essay
				  </div>
				  <div class="card-body">
				    	<blockquote class="blockquote mb-0">
				      		<p>“I had to get a piece urgently proofread. Within a short time, I received what I needed. I didn't have to edit the write-up further. I'd highly recommend their service since they provided a great one.”</p>
				    		<footer class="blockquote-footer">Mashaekh, <cite title="Source Title">December 2020</cite></footer>
						</blockquote>
					</div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="card mb-3">
				  <div class="card-header">
				    Personal Blog
				  </div>
				  <div class="card-body">
				    	<blockquote class="blockquote mb-0">
				      		<p>“Great! They met the deadline and carried out thorough work. Thanks a lot!”</p>
				    		<footer class="blockquote-footer">Albert, <cite title="Source Title">November 2020</cite></footer>
						</blockquote>
					</div>
	            </div>
	        </div>
	    </div>
    </div>

{%endblock%}
